<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>95867782919-qf8uvt6utijdvta832520m27pbhstbrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95867782919-qf8uvt6utijdvta832520m27pbhstbrn</string>
	<key>API_KEY</key>
	<string>AIzaSyDJLXP9zaEi66E5ChKUN2XUfVwlnfL4ldE</string>
	<key>GCM_SENDER_ID</key>
	<string>95867782919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photosurplus.planetary</string>
	<key>PROJECT_ID</key>
	<string>planetary-15525</string>
	<key>STORAGE_BUCKET</key>
	<string>planetary-15525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:95867782919:ios:9f5000a66aafbe57</string>
	<key>DATABASE_URL</key>
	<string>https://planetary-15525.firebaseio.com</string>
</dict>
</plist>